<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @contact.nickname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @contact.streetname %>
</p>

<p>
  <strong>Streetnumber:</strong>
  <%= @contact.streetnumber %>
</p>

<p>
  <strong>Aptnumber:</strong>
  <%= @contact.aptnumber %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @contact.telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
