

<div class="container">
<h1>
  <%= @contact.firstname %>
  <%= @contact.lastname %>
  </h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @contact.nickname %>
</p>

<p>
  <%= @contact.streetnumber %>
  <%= @contact.streetname %>
</p>

  <% if @contact.aptnumber != "" %>
    <p>
      # <%= @contact.aptnumber %>
    </p>
  <% end %>

<p>
  <%= @contact.city %>
  <%= @contact.state %>
  <%= @contact.country %>
</p>

  <% if @contact.telephone != "" %>
<p>
  <strong>Telephone:</strong>
  <%= @contact.telephone %>
</p>
  <% end %>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Eamil:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact), class: "btn btn-primary" %> 
<%= link_to 'Back', contacts_path, class: "btn btn-primary" %>
</div>
